.profile-photo {
    text-align: center;
}

#profile-photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

.user-name {
    text-align: center;
    margin-bottom: 20px;
}

.div-edit-profile {
    text-align: center;
}

.edit-profile {
    background-color: rgb(124, 204, 204);
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.about {
    text-align: center;
    margin-top: 20px;
}

.div-posts-count, .div-comments-count {
    text-align: center;
    margin-top: 20px;
}

#posts-count, #comments-count {
    background-color: rgb(124, 204, 204);
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
}

#update-profile {
    background-color: rgb(124, 204, 204);
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    width: 80px;
}

.edit-title {
    text-align: center;
}